body{
   font-size: 100%;
   background-color: #f6f6f6;
}

#outerframeContainer{
   margin-top:1.6em;
}

/* override fixed pixel font sizes to be dynamic */
.navbar-brand {
   font-size: 1.6em;
   min-height: 1.2em;
}

.logo-container {
   font-size: 1.6em;
   line-height: 1.2em;
}
@media only screen and (max-device-width: 760px) {
   h1, .h3 {
      font-size: 2em;
   }

   .h4 {
      font-size: 1.7em;
   }
   .ls-question-help,
   .ls-questionhelp{
      font-size:1.2em;
   }
}
.question-container{
   background-color: white;
}

.answer-item{
   font-size: 1.4em;
}
/* Adjust sizes */
.question-title-container{
   font-size:2em;
}

.ls-answers{
    padding-top: 2em;
    padding-bottom: 0em;
}

.ls-question-message, .dir-ltr .ls-questionhelp  {
   margin-left: 0em;
   font-size: 1.5em;
   text-transform: uppercase;
}


.ls-questionhelp:before{content:""}
.ls-questionhelp:before {
   display: block;
   position:absolute;
   font-family: FontAwesome;
   font-size: inherit;
   line-height: inherit;
   height:100%;
}
.question-title-container{
   padding-bottom: 0.2em;
}


/*override default bootstrap for the answers */
.answer-container .form-group{
    margin-bottom: 0.2em;
}

.answer-container ul {
    margin-bottom: 0em;
}
.answer-container{
    padding-bottom: 1.2em;
}



