body{
   font-size: 130%;
   background-color: #f9f9f9;
}


#outerframeContainer{
   margin-top:1.6em;
}

.navbar-inverse {
   color: white;
   background-color: #CC0000;
   border-color: #CC0000;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
   color: #fff;
   background-color: #CC0000;
}
/* override fixed pixel font sizes to be dynamic */
.navbar-inverse .navbar-brand {
   color: #ffffff;
   font-size: 1.6em;
   min-height: 1.2em;
}

.navbar-inverse .navbar-nav > li > a {
   color: #ffffff;
}

.logo-container {
   font-size: 1.4em;
   line-height: 1.2em;
}
@media only screen and (max-device-width: 760px) {
   h1, .h3 {
      font-size: 2em;
   }

   .h4 {
      font-size: 1.7em;
   }
   .ls-question-help,
   .ls-questionhelp{
      font-size:1.2em;
   }
}
.question-container{
   background-color: white;
}

.answer-item{
   font-size: 1.4em;
}
/* Adjust sizes */
.question-title-container{
   font-size:1.6em;
}
.ls-label-question{
   font-weight: bolder;
}

.ls-answers{
    padding-top: 2em;
    padding-bottom: 0em;
}

.ls-question-message, .dir-ltr .ls-questionhelp  {
   margin-left: 0em;
   font-size: 1.4em;
   text-transform: uppercase;
}


.ls-questionhelp:before{content:""}
.ls-questionhelp:before {
   display: block;
   position:absolute;
   font-family: FontAwesome;
   font-size: inherit;
   line-height: inherit;
   height:100%;
}
.question-title-container{
   padding-bottom: 0.2em;
}


/*override default bootstrap for the answers */
.answer-container .form-group{
    margin-bottom: 0.2em;
}

.answer-container ul {
    margin-bottom: 0em;
}
.answer-container{
    padding-bottom: 1.2em;
}



